<div id="editableBelt" style="height:auto" >
  <div id="header" align="center">
    <!-- <div class="headerTxt">Acupuncture for the Treatment of Vision Loss Due to Retinitis Pigmentosa
    </div>
    -->
    <img src="/redHeader.jpg" width="100%"/>
  </div>




  <div class="navigator">
    <script type="text/javascript">
        $(document).ready(function()
        {	$('#nav > li').bind('mouseover', nav_open);
            $('#nav > li').bind('mouseout',  nav_timer);});

        document.onclick = nav_close;
    </script>
    <ul id="nav">
      <li><a href="index.html">Home Page</a></li>
      <li><a href="video.html">Video Interview</a></li>
      <li><a href="introduction.html">Study Introduction</a></li>
      <li><a href="fundraising.html">Importance of Fundraising</a></li>
      <li><a href="donate.html">Donate Now</a></li>
      <li onMouseMove="moreSpace()"><a href="#" >Our Team &nbsp;&darr;</a>
        <ul>
          <li onMouseMove="moreSpace()"><a href="ava.html" >Dr. Bittner</a></li>
          <li onMouseMove="moreSpace()"><a href="gislin.html"  >Dr. Dagnelie</a></li>
          <li onMouseMove="moreSpace()"><a href="jeff.html" >Jeff Gould</a></li>
        </ul>

      </li>
      <li onClick="turnColor('white')"><a href="#">White Background</a></li>
      <li onClick="turnColor('black')"><a href="#">Black Background</a></li>


    </ul>
  </div>

  <div id="spaceForSubmenue"></div>

  <!--
  <div class="clear"/>
  -->
  <div class="donateTitle" align="center">
    <!--<div align="center">-->

    <span><br/>Three ways to support Acupuncture for RP</span>
  </div>

  <div class="donateBox">
    <div class="donateBoxImgGrid">
      <div id="computer">
        <img src="/computer.jpg" />
      </div>
      <br/>
      <span>OnLine</span>
    </div>


    <div class="donateBoxGrid">
      <p>Please complete our <br/><a href="https://jhweb.dev.jhu.edu/eforms/form.do?formId=17183"> secure online giving form</a>.<br/> designate your gift to "Other" and <br/>list "Acupuncture for RP" as</p>
    </div>
    <div class="donateBoxGrid">
      <br/>
      <div id="donateDemo">
        <img src="/donateDemo.jpg" width="450" />
      </div>
    </div>
  </div>

  <div class="donateBox">
    <div class="donateBoxImgGrid">
      <div id="phone">
        <img src="/phone.jpg" />
      </div>
      <br/>
      <span>By Phone</span>
    </div>
    <div class="donateBoxGrid">
      <p> To speak to someone directly about making a gift, please call 410-955-2020.</p>
    </div>
    <div class="donateBoxGrid">
    </div>
  </div>

  <div class="donateBox">
    <div class="donateBoxImgGrid">
      <div id="mail">
        <img src="/mail.jpg" />
      </div>
      <br/>
      <span >By Mail</span>
    </div>
    <div class="donateBoxGrid" >
      <p> Please Mail your <br/> <a href="/Wilmer Charitable Giving Form.pdf"> giving form</a> to:</p>
    </div>
    <div class="donateBoxGrid">
      <p>
        The Wilmer Eye Institute
        <br/>Wilmer Development Office,
        <br/>Wilmer 112
        <br/>600 North Wolfe Street
        <br/>Baltimore, MD 21287-9015
      </p>
    </div>
  </div>



</div>