<div id="editableBelt" style="height:auto" onLoad="changePageType('fundraising')">
  <div id="header" align="center">

    <img src="/redHeader.jpg" width="100%"/>
  </div>

  <ul id="nav">
  </ul>
  <div id="plaine">
    <p>Patients come to the Wilmer Eye Institute from all over the nation and the world to receive the finest ophthalmic care. What many may not realize is that world-class patient care is only one third of our mission. The other integral parts of Wilmer are innovative research and teaching the next generation. Without all three components, Wilmer would not be the model eye institute many consider it to be. Every day at Wilmer, a teacher&acute;s observation inspires a student&acute;s efforts in the laboratory. A scientist&acute;s discovery culminates in a promising new therapy. A physician struggling to help a patient with a seemingly untreatable condition experiences an insight that leads to new research. This is academic medicine at its best-a creative, synergistic juxtaposition of clinic and operating room, classroom and laboratory. Faculty members must raise enough funds, whether from grants or private philanthropy, to pay for their own salary and that of their staff, as well as costs of special equipment and supplies needed for research. It is therefore critical that we raise $100,000 per year from private donors and foundations to fund acupuncture research for RP that will substantiate our study and enable us to apply for government funding that will then take our research to the next level.
    </p>
  </div>

</div>