<div id="editableBelt" onLoad="changePageType('index')">
<div id="header" align="center">
  <!-- <div class="headerTxt">Acupuncture for the Treatment of Vision Loss Due to Retinitis Pigmentosa
  </div>
  -->
  <img src="/redHeader.jpg" width="100%" style="display:block"/>
</div>

  <ul id="nav">
  </ul>

<div id="leftFrame">
  <!--

    	<!--<div class="blockTitle"><font color="#CC9900">Introduction & Testimonial</font></div>-->
  <!--put the scroll door here-->
  <div id="introAndTestimonial">
    <div id="scrollDoor" onMouseOver="selectedItem()" onMouseOut="autoShift()">
      <div id="con">

        <div id="tagContent">

          <div class ="tagContent selectTag" id="tagContent0"><li>
            <a href="video.html"> <img src="/videoDemo.jpg" width="765" height="300" style="display:block"/></a>

            </object>
          </li></div>


          <div class ="tagContent " id="tagContent1">
            <li>

              <h3> Study Introduction</h3>

              <p>&nbsp&nbsp&nbsp&nbsp
                In 2006-07, Drs. Bittner and Dagnelie conducted a survey of alternative therapies used by people with &quot;RP&quot;, and found that the majority of those who had tried acupuncture reported an effect on vision. However, there are currently no publications of rigorously conducted placebo controlled studies to test acupuncture for its potential to improve vision in RP. Recently, Drs. Bittner and Dagnelie were introduced to an acupuncturist and naturopathic physician, Dr. Andy Rosenfarb, by an RP patient from Maryland who felt that her vision was improved after receiving acupuncture from Dr. Rosenfarb.  Based on  ... <a href="introduction.html"><img src="/more_button.gif" width="80px"/></a> </p>
            </li></div>

          <div class ="tagContent" id="tagContent2"><li>
            <h3>Importance of Fundraising</h3>

            <p> &nbsp&nbsp&nbsp&nbsp


              Patients come to the Wilmer Eye Institute from all over the nation and the world to receive the finest ophthalmic care. What many may not realize is that world-class patient care is only one third of our mission. The other integral parts of Wilmer are innovative research and teaching the next generation. Without all three components, Wilmer would not be the model eye institute many consider it to be. Every day at Wilmer, a teacher&acute;s observation inspires a student&acute;s efforts in the laboratory. A scientist&acute;s discovery culminates in a promising new therapy. A physician struggling to help a patient with a seemingly untreatable  ... <a href="fundraising.html"><img src="/more_button.gif" width="80px"/></a>

            </p></li></div>



          <div class ="tagContent" id="tagContent3"><li>
            <h3>Testimonial from a study particpant</h3>

            <p>&nbsp&nbsp&nbsp&nbsp
              &quot As a vice president in a community healthcare system, I am required to read multiple documents and conduct rounds in various facilities. Prior to the acupuncture treatment, my ability to read from my phone or tablet was limited at best. Post treatment, I am now, once again, able to utilize these devices with just my reading glasses. Post treatment, I have also been able to walk our various facilities without assistance in identifying individuals by their voices. Now, I am able to identify individuals visually. The acupuncture treatment has truly increased my quality of life.&quot </p>
          </li></div>




          <div class ="tagContent" id="tagContent4"><li>
            <h3>Testimonial from another study particpant</h3>

            <p> &nbsp&nbsp&nbsp&nbsp
              &quotI was not expecting a 'miracle cure.' I was simply hoping to contribute to the body of knowledge of a disease whose symptoms have just begun to impact my life.  Imagine how amazed I was when, not only did I experience improved night vision after the treatment, but the improvement was measurable in the lab. For the first time I feel that there might be a way to preserve my vision. Dr. Bittner and her team have generously donated their considerable skills and brilliance to this project and I cannot be more grateful.&quot
            </p></li></div>




          <!--
          <div class ="tagContent" id="tagContent3"><li>Patient3's comment</li></div>
          -->
        </div>
        <ul id="tags">
          <li id= selectTag><a onMouseOver="selectTag('tagContent0',this)" href="javascript:void(0)"><span>Video Interview</span></a></li>
          <li><a onMouseMove="selectTag('tagContent1',this)" href="javascript:void(0)"><span>Study Introduction</span></a></li>
          <li><a onMouseOver="selectTag('tagContent2',this)" href="javascript:void(0)"> <span>Fundraising </span></a></li>
          <li><a onMouseOver="selectTag('tagContent3',this)" href="javascript:void(0)"> <span>Testimonial 1</span></a></li>
          <li><a onMouseMove="selectTag('tagContent4',this)" href="javascript:void(0)"><span>Testimonial 2</span></a></li>



        </ul>

      </div>
    </div>
  </div>

  <!--<div class="blockTitle"><font color="#CC9900">Meet the Study Team</font></div>-->
  <!--meet our experts here-->
  <div class="experts">
    <div id="expertAva">
      <div class="boxtitle"><h3>Ava&nbsp;Bittner,&nbsp;O.D.,&nbsp;Ph.D. </h3></div>
      <div class="boxtitle" align="right"></div>
      <div class="boxIconPosition">
        <div class="boxIcon">
          <!--<img src="/avaProfile.jpg" height="100"/>-->
        </div>
        <div class="boxPosition">
          <p>Principal Investigator
          </p>                  </div>
      </div>
      <div class="boxDescription">
                	<span>Dr. Ava Katherine Bittner is a licensed
Optometrist who received her Ph.D. in clinical investigation from the Johns
Hopkins School of Public Health. She completed a clinical
 ... <a href="ava.html"><img src="/more_button.gif" width="80px" style="display:block"/></a>
 </span>

      </div>
    </div>
    <div id="expertGislin">
      <div class="boxtitle"><h3>Gislin&nbsp;Dagnelie,&nbsp;Ph.D.</h3></div>
      <div class="boxtitle" align="right"></div>
      <div class="boxIconPosition">
        <div class="boxIcon">
          <!-- <img src="/icon1.gif"height="95"/>-->
        </div>
        <div class="boxPosition">
          <br/><p> Co-investigator</p>
        </div>
      </div>
      <div class="boxDescription">
                	<span>Gislin Dagnelie, Ph.D., is <br/>an Associate Professor of Ophthalmology in
the Johns Hopkins University School of Medicine and the associate director of the Lions Vision
  ...<a href="gislin.html"><img src="/more_button.gif" width="80px" style="display:block"/></a>
</span>
      </div>
    </div>
    <div id="expertJeff">
      <div class="boxtitle"><h3>Jeff&nbsp;Gould,&nbspLAc,&nbsp;DiplAc </h3></div>
      <div class="boxtitle"  align="right"><h3> DiplCH&nbsp;&nbsp;</h3></div>
      <div class="boxIconPosition">
        <div class="boxIcon">
          <!--  <img src="/icon1.gif" height="95"/>-->
        </div>
        <div class="boxPosition">
          <br/><p> Acupuncturist</p>
        </div>
      </div>
      <div class="boxDescription">
                <span>	Mr. Gould is a graduate of the Oregon College of Oriental Medicine and has a Master of Education from the University of Maryland College Park in Counseling and Personnel  ...<a href="jeff.html"><img src="/more_button.gif" width="80px" style="display:block"/></a>
                </span>
      </div>
    </div>

  </div>
</div>

<!-- <div class="blockTitle"><font color="#CC9900">Financial </font></div>-->
<div id="rightFrame">
  <!--the fundraising thermometer here-->
  <div id="therm">

    <!--show the fund detail here-->

    <!--
      <div id="thermometerSampleBox" >

    </div>-->
    <div id="thermometer_percentage">

      <table>
        <tr>
          <td >Raised:</td>
          <td id="raised"><!--changeItem-->$80,000</td>
        </tr>
        <tr>
          <td>Goal:</td>
          <td id="goal"><!--changeItem-->$100,000</td>
        </tr>
      </table>
    </div>

    <div id="thermometer_wrapper">
      <div id="fundDetail">
        <span><br/> Please move your mouse over the thermometer to <br/>see where the money goes:</span>
        <br/>
        <br/>
        <div id="thermDemo">
        </div>
      </div>

      <!--<div id="fundDetail">

            <br/>
            <br/>
            <br/>Please move your mouse over the thermometer to <br/>see where your money goes:
            <br/>
            <br/>
            <img src="/greyThermLegend.jpg" width="120px" >

      </div>
      -->
      <!-- the percentage of raised fund -->


      <!-- the thermometer -->
      <div id="thermometer">

        <div id= "mercury">
        </div>
        <div class="snippet" id="snippet1" onMouseOver="showDetail(1)" onMouseOut="eraseDetail()" ></div>
        <div class="snippet" id="snippet2" onMouseOver="showDetail(2)" onMouseOut="eraseDetail()"></div>
        <div class="snippet" id="snippet3" onMouseOver="showDetail(3)" onMouseOut="eraseDetail()"></div>
        <div class="snippet" id="snippet4" onMouseOver="showDetail(4)" onMouseOut="eraseDetail()"></div>
        <div class="snippet" id="snippet5" onMouseOver="showDetail(5)" onMouseOut="eraseDetail()"></div>
        <div class="snippet" id="snippet6" onMouseOver="showDetail(6)" onMouseOut="eraseDetail()"></div>
        <div class="snippet" id="snippet7" onMouseOver="showDetail(7)" onMouseOut="eraseDetail()"></div>
        <div class="snippet" id="snippet8" onMouseOver="showDetail(8)" onMouseOut="eraseDetail()"></div>
      </div>
    </div>

    <script>
        <!--adjust the height of mercury-->
        mercury();
    </script>
  </div>

  <!-- <div class="blockTitle"><font color="#CC9900">Our Donors</font></div>-->
  <!--put the donor list here-->
  <div class="donors" >
    <div id = "donorSContainter">
      <div class = "donorTitle" align="center">
        <br/> <h3>Thanks to Our Donors!</h3>
      </div>
      <marquee behavior="scroll" direction="up" scrollamount="2" draggable="true" onMouseOver="this.stop();" onMouseOut="this.start();" >


        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp;&ensp; <font size="+2"><span><!--changeItem-->.</span></font>
        <br/>



        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp;&ensp; <font size="+2"><span><!--changeItem-->.</span></font>
        <br/>


        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp;&ensp; <font size="+2"><span><!--changeItem-->.</span></font>
        <br/>

        <!-- changeItem     IF another donorcome, uncomment this block
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp;&ensp; <font size="+2"><span>.</span></font>
<br/>

-->



      </marquee>
    </div>

  </div>
</div>

<div class="clear"/><!--to clear the float-->
<div class="footerWrap">
  <div class="footerTxt" align="center">
    <h3><br/>Click <a class="gold"  href="http://www.clinicaltrials.gov/ct2/show/NCT01604356">Here</a > to Read more about this study at <a  class="gold" href="http://www.clinicaltrials.gov/ct2/show/NCT01604356">clinicaltrials.gov</a>
      <br/>
      <br/></h3>
  </div>
</div>


</div>

</div>
