<div id="editableBelt" style="height:auto">
  <div id="header" align="center">
    <img src="/jeffHeader.jpg" width="100%">
  </div>

  <ul id="nav">
  </ul>

  <div id="plaine">
    <p >
      Mr. Gould is a graduate of the Oregon College of Oriental Medicine and has a Master of Education from the University of Maryland College Park in Counseling and Personnel Services. He is nationally board certified in both acupuncture and Chinese herbology. He served as clinic supervisor for Tai Sophia Institute&acute;s Chinese Herb Program, and was the consulting editor for Wanzhu Hou&acute;s Treating Autoimmune Disease with Chinese Medicine, 2011, published by Elsevier.  Mr. Gould provided acupuncture for the study &quot;A Multi-Center Randomized Controlled Double Blind Trial Assessing the Effect of Acupuncture in Reducing Musculoskeletal Symptoms in Breast Cancer Patients Taking Aromatase Inhibitors,&quot; which was conducted at Johns Hopkins. Mr. Gould is currently working on &quot;Acupuncture in the Treatment of Idiopathic Gastroparesis: A Random, Single-Blind Pilot Study,&quot; also at Johns Hopkins.
    </p>
  </div>
</div>
