<div id="editableBelt" style="height:auto">
  <div id="header" align="center">

    <img src="/redHeader.jpg" width="100%"/>    </div>
  <div class="navigator">
    <script type="text/javascript">
        $(document).ready(function()
        {	$('#nav > li').bind('mouseover', nav_open);
            $('#nav > li').bind('mouseout',  nav_timer);});

        document.onclick = nav_close;
    </script>
    <ul id="nav">
      <li><a href="index.html">Home Page</a></li>
      <li><a href="video.html">Video Interview</a></li>
      <li><a href="introduction.html">Study Introduction</a></li>
      <li><a href="fundraising.html">Importance of Fundraising</a></li>
      <li><a href="donate.html">Donate Now</a></li>
      <li onMouseMove="moreSpace()"><a href="#" >Our Team &nbsp;&darr;</a>
        <ul>
          <li onMouseMove="moreSpace()"><a href="ava.html" >Dr. Bittner</a></li>
          <li onMouseMove="moreSpace()"><a href="gislin.html"  >Dr. Dagnelie</a></li>
          <li onMouseMove="moreSpace()"><a href="jeff.html" >Jeff Gould</a></li>
        </ul>

      </li>
      <li onClick="turnColor('white')"><a href="#">White Background</a></li>
      <li onClick="turnColor('black')"><a href="#">Black Background</a></li>


    </ul>
  </div>

  <div id="spaceForSubmenue"></div>
  <div id="plaine" align="center">
    <br/>
    <object id="MediaPlayer" width=900 height=630 classid="CLSID:22D6f312-B0F6-11D0-94AB-0080C74C7E95" standby="Loading Windows Media Player components..." type="application/x-oleobject" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112">
      <param name="filename" value="/RP-Acupuncture12806.wmv">
      <param name="Showcontrols" value="True">
      <param name="autoStart" value="True">
      <param name="wmode" value="transparent">

      <embed type="application/x-mplayer2" src="/RP-Acupuncture12806.wmv" name="MediaPlayer" autoStart="True" wmode="transparent" width="900" height="630" ></embed>

    </object>

  </div>


</div>