<div id="editableBelt" style="height:auto">
  <div id="header" align="center">

    <img src="/redHeader.jpg" width="100%"/>    </div>
  <ul id="nav">
  </ul>
  <div id="plaine" align="center">
    <br/>
    <object id="MediaPlayer" width=900 height=630 classid="CLSID:22D6f312-B0F6-11D0-94AB-0080C74C7E95" standby="Loading Windows Media Player components..." type="application/x-oleobject" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112">
      <param name="filename" value="/RP-Acupuncture12806.wmv">
      <param name="Showcontrols" value="True">
      <param name="autoStart" value="True">
      <param name="wmode" value="transparent">

      <embed type="application/x-mplayer2" src="/RP-Acupuncture12806.wmv" name="MediaPlayer" autoStart="True" wmode="transparent" width="900" height="630" ></embed>

    </object>

  </div>


</div>